.eventsContainter {
  display: flex;
  padding: 3rem;
  margin: 10rem 10rem auto 10rem;
}

.titleEvents {
  font-size: 4rem;
}

.contentEvents {
  font-size: 1.8rem;
  text-align: justify;
  width: 90%;
  margin: 4rem 0;
}

.imgEvents {
    width: 40rem;
}