.buttonSave {
font-size: 3rem;
background-color: #6BC8E6;
border-radius: 1rem;
padding: 2rem;
color: #fff;
font-weight: bold;
margin: 2rem;
width: 35rem;
cursor: pointer;
}

@media screen and (max-width: 768px) {

    .buttonSave {
        width: 70vw;
        font-size: 3vw;
    }
     
  }