.headerContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 80;
  display: flex;
  justify-content: space-between;
 
  background-color: #f3d743;
}

.headerContainer img {
  width: 10rem;
}