.member {
  width: 75vw;
  height: 3rem;
  display: flex;
  align-items: center;
}

.member p {
  flex: 1;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.bold {
    font-weight: bold;
}