.headerHomeContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: background-color 0.3s ease-in-out;
  display: flex;
  justify-content: space-between;
}

.headerHomeContainer.sticky {
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.headerHomeLogo {
  width: 30rem;
}

.headerHomeOptions {
  display: flex;
  gap: 3rem;
  margin: 3rem 5rem auto auto;
}

.headerHomeOptions p {
  font-size: 1.8rem;
  font-weight: 500;
  color: rgba(34, 34, 34, 0.9);
}

.headerHomeIcon {
  width: 1.8rem;
  height: 1.8rem;
}

.headerHomeOptions p,
.headerHomeIcon {
  cursor: pointer;
}
