.container_buttons {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.container_buttons  button{
    background-color: #6BC8E6;
    border-radius: 1rem;
    font-size: 1.5rem;
    color: #fff;
    padding: 1.5rem;
    width: 25rem;
    text-transform: uppercase;
    cursor: pointer;
}